# R specific files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store

# Directories with large data files
scratch/*
data/raw/*
data/processed/*
results/stats/*
results/genome_annotation/*
slurmOutput/*

# Specific files extensions to ignore
*.out
*.sif